body{

    background-color:rgb(59, 62, 62);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#CurrencyForm{
    left: 40%;
    position: absolute;
    background-color:#659dbd;
    padding: 25px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    top: 25%;
    
    
}
header{
    background-color:#659dbd;
    right: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#CurrencyForm input{
    width: 100%;
    
}
#CurrencyForm select{
    width: 100%;
}
#coin-icon{
    color: yellow;
    left:18%;
    position:absolute;
    top: 18%;

}

input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
}

#convert-button{
    size: 40px;
    background-color: gray;
}
#convert-button:hover{
    background-color: yellow;
}
